@import url('https://fonts.googleapis.com/css2?family=Bree+Serif&family=Open+Sans&display=swap');

html {
    background-color: #ffffff;
}

header,
footer {
    background-color: #47178c;
    border-radius: 25px;
}

body {
    background-color: #ffffff;
    font-family: 'Open Sans', sans-serif;
    font-size: 115%;
    max-width: 960px;
    margin: 0 auto;
    color: #444444;
    padding: 25px;
}

h1,
h2 {
    font-family: 'Bree Serif', serif;
    color: #e8eadf;
}

h1 {
    font-size: 2.2em;
}

h2 {
    font-size: 1.4em;
}

header a {
    color: #e8eadf;
    text-decoration: none;
}

a {
    color: #4d40a3;
}

a:hover {
    color: #9ca7c3;
}

header {
    padding: 1.5em;
}

#hg_box1 {
    justify-self: center;
    align-self: center;
    text-align: center;
}

main p {
    text-align: justify;
}

#main_grid_container {
    display: grid;
    grid-template-columns: 1fr;
    text-align: center;
}

#mg_box1, #mg_box2, #mg_box3 {
    margin-top: 1em;
    padding: 1em;
    border-style: solid;
    border-radius: 25px;
    border-color: #47178c;
}

footer {
    color: #e8eadf;
    margin-top: 2em;
    margin-bottom: 2em;
    padding-top: .2em;
    padding-bottom: 1em;
}

footer a {
    color: #e8eadf;
}

#footer_grid_container {
    text-align: center;
    line-height: 1em;
}

#fg_box1 {
    font-size: .9em;
    color: #9ca7c3;
}