@import url('https://fonts.googleapis.com/css2?family=Bree+Serif&family=Open+Sans&display=swap');

html {
    background-color: #ffffff;
}

header,
footer {
    background-color: #A2E4E1;
}

body {
    background-color: #ffffff;
    font-family: 'Open Sans', sans-serif;
    margin: 0 auto;
    color: #444444;
}

h1,
h2 {
    font-family: 'Bree Serif', serif;
}

#banner {
    background-color: #058FB6;
    align-items: center;
    padding: .5em;
    display: flex;
    justify-content: center;
}

#banner_text {
    padding-left: 1em;
}

header h1,
header h2 {
    color: #FBFBFA;
    line-height: 1;
}

header h2 {
    font-size: 18px;
    font-weight: 100;
}

header img {
    max-width: 100px;
    padding: 1em;
}

main {
    max-width: 960px;
    margin: 0 auto;
    padding: 1em;
}

footer {
    color: #e8eadf;
    margin-top: 2em;
    margin-bottom: 2em;
    padding-top: .2em;
    padding-bottom: 1em;
}

footer {
    color: #444444;
    padding: 0;
}

footer a {
    color: #444444;
}

#footer_grid_container {
    line-height: 1em;
}

#contact {
    padding: 1em;
}

#footer_bar {
    background-color: #058FB6;
    text-align: center;
    color: #FBFBFA;
    padding: .5em;
}

#footer_bar a {
    color: #FBFBFA;
}

#fg_box1 {
    font-size: .9em;
    color: #FBFBFA;
}
