@media only screen and (min-width: 43.6em) {

    .navigation, #town, #contact {
        max-width: 960px;
        margin: 0 auto;
    }
    
    .navigation {
        display: flex;
    }

    .navigation li {
        display: block;
        flex: 1 1 auto;
    }

    button {
        display: none;
    }

    #town {
        padding-top: .96em;
        padding-bottom: .96em;
    }

    #weather_summary {
        position: absolute;
        box-shadow: 0px 0px 25px #444444;
    }

    #ws {
        padding-left: 2em;
        padding-right: 2em;
        padding-top: .5em;
    }

    table {
        width: 90%;
    }
}