@import url('https://fonts.googleapis.com/css2?family=Bree+Serif&family=Open+Sans&display=swap');

html {
    background-color: #ffffff;
}

body {
    background-color: #ffffff;
    font-family: 'Open Sans', sans-serif;
    color: #444444;
}

h1,
h2 {
    font-family: 'Bree Serif', serif;
}

.message {
    display: none;
    padding: 1em;
    border: 1px solid #444444;
    background-color: #43707c;
    color: #ffffff;
}

.message p {
    max-width: 960px;
    padding-left: 1.5em;
    padding-right: 1.5em;
    margin: 0 auto;
}

#banner {
    background-color: #5f4d7b;
    padding: .5em;
    display: flex;
    justify-content: center;
    align-items: center;
}

header h1,
header p {
    color: #ffffff;
    line-height: 1;
}

header p {
    font-size: 18px;
    font-weight: 100;
}

header img {
    max-width: 6em;
    padding: 1em;
}

#hamburger{
    background-color:#43707c;
    color: #ffffff;
    border-color: #ffffff;
    border-width: .1em;
    border-radius: 5px;
    font-weight: 600;
    font-size: 30px;
    padding: .3em;
    margin-right: .5em;
    margin-left: .5em;
}

nav {
    background-color: #43707c;
    text-align: center;
}

nav ul {
    list-style: none;
    overflow: hidden;
    margin: 0;
    padding: 0;
}

.navigation li {
    display: none;
    overflow: hidden;
    white-space: nowrap;
}

.navigation a {
    display: block;
    text-decoration: none;
    font-family: 'Bree Serif', serif;
    font-size: 22px;
    color: #ffffff;
    padding: 1em;
}

.active {
    text-decoration: underline;
}

.navigation a:hover {
    color: #43707c;
    background-color: #A2E4E1;
}

.responsive li {
    display: block;
}

#hero_box {
    position: relative;
    margin: 0 auto;
    max-width: 960px;
}

#hero_box img {
    width: 100%;
    border-bottom: 1px solid #444444;
    margin-bottom: 1em;
}

#weather_summary {
    background-color: #5f4d7b;
    top: 25px;
    left: 25px;
    border-top: 1px solid #444444;
    border-bottom: 1px solid #444444;
}

#ws {
    padding-top: 1em;
    text-align: center;
    color: #ffffff;
    text-decoration: underline;
}

table {
    width: 80%;
    border: 1em;
    padding-bottom: 2em;
}

table tr td {
    height: 1.5em;
    color: #ffffff;
}

td {
    text-align: left;
}

td:first-child {
    text-align: right;
    font-weight: bold;
}

#town_box {
    border-bottom: 1px solid #444444;
    padding-top: .5em;
    padding-bottom: .5em;
}

#town {
    padding-left: 2.25em;
}

.forecast_head {
    text-align: center;
}

#forecast_box {
    display: flex;
    flex-flow: wrap;
    border-right: 1px solid #444444;
    max-width: 960px;
    margin: 0 auto;
}

.forecast {
    flex: 1 1 auto;
    color: #ffffff;
    background-color: #43707c;
    border-bottom: 1px solid #444444;
    text-align: center;
    border-left: 1px solid #444444;
}

.forecast_day {
    display: block;
    color: #43707c;
    background-color: #A2E4E1;
    border-top: 1px solid #444444;
    padding: 5px;
    font-weight: bold;
}

.forecast_icon {
    border-radius: 100px;
    padding: .25rem;
    max-width: 10vw;
    height: auto;
}

.forecast_temp {
    display: block;
    padding: 0 5px 5px;
    font-size: .9rem;
}

#article_box {
    background-color: #dadbdc;
    max-width: 960px;
    margin: 0 auto;
}

#article {
    padding-top: 1.5em;
    padding-bottom: 1.5em;
}

footer {
    background-color: #43707c;
    color: #ffffff;
    margin-top: 2em;
    padding: 0;
    padding-top: .2em;
}

footer a {
    color: #444444;
}

#footer_grid_container {
    line-height: 1em;
}

#contact {
    padding: 1em;
}

#footer_bar {
    background-color: #5f4d7b;
    text-align: center;
    color: #ffffff;
    padding-top: .5em;
    padding-bottom: 1.5em;
    padding-left: 1.5em;
    padding-right: 1.5em;
}

#footer_bar a {
    color: #ffffff;
}

#fg_box1 {
    font-size: .9em;
    color: #ffffff;
}
