@media only screen and (min-width: 46em) {
 
    nav ul {
        display: flex;
        justify-content: center;
    }

    li {
        flex: 1 1 100%;
    }

    #logobox {
        float: right;
        margin-top: -11.5em;
        padding: 1em;
        overflow: auto;
    }

    #sitelogo {
        max-width: 50%;
        float: right;
    }

    #jacobimg {
        float: left;
        margin: 1em;
        margin-right: 3em;
    }

    #jacob {
        overflow: auto;
    }

    #hannahimg {
        float: left;
        margin: 1em;
        margin-right: 3em;
    }

    #hannah {
        overflow: auto;
    }
}