@media only screen and (min-width: 46em) {
 
    nav ul {
        display: flex;
        justify-content: center;
    }

    li {
        flex: 1 1 100%;
    }

    #logobox {
        float: right;
        margin-top: -11.5em;
        padding: 1em;
    }

    #sitelogo {
        max-width: 50%;
    }
}